<div class="shapes">
	<section class="row">
		<article class="column col-6">
			<div class="octocat">
				<div class="octocat__eye">
					<span class="octocat__iris"></span>
				</div>
				<div class="octocat__eye octocat__eye-right">
					<span class="octocat__eye__iris"></span>
				</div>
				<div class="octocat__face"></div>
				<span class="octocat__nose"></span>
				<span class="octocat__mouth"></span>
				<span class="octocat__mustash"></span>
				<span class="octocat__mustash"></span>
				<span class="octocat__mustash"></span>
				<span class="octocat__mustash"></span>
			</div>
		</article>
		<article class="column col-6">
			<div class="heart">
				<div class="heart__message">
					<h2></h2>
				</div>
			</div>
		</article>
	</section>
</div>