<div class="about-me">
	<div class="heart">
		<div class="heart__message">
			<h2></h2>
		</div>
	</div>
	<section class="about-me__character">
		<article>
			<div class="photograph">
				<img src="assets/images/jessica3.jpg">
			</div>
		</article>
		<article class="">
			<h2>What am I like?</h2>
			<div class="description">
				<div class="octocat">
					<div class="octocat__eye">
						<span class="octocat__eye__iris"></span>
					</div>
					<div class="octocat__eye octocat__eye-right">
						<span class="octocat__eye__iris"></span>
					</div>
					<div class="octocat__face"></div>
					<span class="octocat__nose"></span>
					<span class="octocat__mouth"></span>
					<span class="octocat__mustash"></span>
					<span class="octocat__mustash"></span>
					<span class="octocat__mustash"></span>
					<span class="octocat__mustash"></span>
				</div>
				<p>I describe myself like someone who is...</p>
				<ul>
					<li><a><span class="icon-plus"></span>Friendly</a></li>
					<li><a><span class="icon-plus"></span>Confident</a></li>
					<li><a><span class="icon-plus"></span>Proactive</a></li>
					<li><a><span class="icon-plus"></span>Persistent</a></li>
					<li><a><span class="icon-plus"></span>Responsible</a></li>
				</ul>
			</div>
			<div class="description">
				<p>The bad thing about me is being...</p>
				<ul>
					<li><a><span class="icon-minus"></span>Impulsive</a></li>
					<li><a><span class="icon-minus"></span>Indecisive</a></li>
					<li><a><span class="icon-minus"></span>Nervous</a></li>
					<li><a><span class="icon-minus"></span>Jealous</a></li>
					<li><a><span class="icon-minus"></span>Jealous</a></li>
				</ul>
			</div>
		</article>
		<article>
			<h2>Technologies & Knowledges</h2>
			<div class="about-me__technologies">
				<div>
					<i class="devicon-javascript-plain colored"></i>
				</div>
				<div>
					<i class="devicon-angularjs-plain colored"></i>
				</div>
				<div>
					<i class="devicon-jquery-plain-wordmark colored"></i>
				</div>
			</div>
			<div class="about-me__technologies">	
				<div>
					<i class="devicon-css3-plain-wordmark colored"></i>
				</div>
				<div>
					<i class="devicon-bootstrap-plain-wordmark colored"></i>
				</div>
				<div>
					<span>Stylus</span>
				</div>
				<div>
					<i class="devicon-sass-original colored"></i>
				</div>
			</div>
			<div class="about-me__technologies">
				<div>
					<i class="devicon-html5-plain colored"></i>
				</div>
			</div>
			<div class="about-me__technologies">
				<div>
					<i class="devicon-bower-line-wordmark colored"></i>
				</div>
				<div>
					<span>npm</span>
				</div>
			</div>
			<div class="about-me__technologies">
				<div>
					<i class="devicon-git-plain colored"></i>
				</div>
				<div>
					<i class="devicon-github-plain colored"></i>
				</div>
			</div>

			<div class="about-me__technologies">
				<div>
					<i class="devicon-gulp-plain colored"></i>
				</div>
				<div>
					<i class="devicon-grunt-plain-wordmark colored"></i>
				</div>
			</div>
			<div class="about-me__technologies">
				<div>
					<i class="devicon-yii-plain-wordmark colored"></i>
				</div>
			</div>	
		</article>
		<article>
			<h2>Languages</h2>
			<div class="about-me__languages">
				<div>
					<p>English</p>
					<p>B1</p>
				</div>
				<div>
					<p>Spanish</p>
					<p>Native Speaker</p>
				</div>
			</div>
		</article>
		<article>
			<h2>What can I do?</h2>
			<ul>
				<li><a href=""></a></li>
			</ul>
		</article>
		<article>
			<h2>Expertise</h2>
			<div>
				<h3>Frontend Web Developer at <span>Global Human Services</span></h3>
				<p>August 2015 - Currently</p>
			</div>
			<div>
				<h3>Trainee Web Developer at <span>Morton casa de Subastas</span></h3>
				<p>November 2014 - August 2015</p>
			</div>
		</article>
		<article>
			<h2>Education</h2>
			<div>
				<h3>IPN - Unidad Profesional Interdisciplinaria de Ingeniería y Ciencias Sociales y Administrativas (UPIICSA). </h3><span>August 2010 - May 2014</span>
				<!-- <p>Bachelor's Degree: Informatics Engineering</p> -->
				<p>Graduated of the UPIICSA in Informatics Engineering Bachelor's Degree.</p>
			</div>
		</article>
	</section>
</div>