<div class="about-me">
	<h2>About .....</h2>
	<div class="octocat">
		<div class="octocat__eye">
			<span class="octocat__eye__iris"></span>
		</div>
		<div class="octocat__eye octocat__eye-right">
			<span class="octocat__eye__iris"></span>
		</div>
		<div class="octocat__face"></div>
		<span class="octocat__nose"></span>
		<span class="octocat__mouth"></span>
		<span class="octocat__mustash"></span>
		<span class="octocat__mustash"></span>
		<span class="octocat__mustash"></span>
		<span class="octocat__mustash"></span>
	</div>
	<div class="heart">
		<div class="heart__message">
			<h2></h2>
		</div>
	</div>
</div>