<div class="about-me">
	<section class="about-me__character">
		<article class="about-me__myself griglia-riga">
			<div class="griglia-colonna griglia-colonna5">
				<div class="photograph">
					<img src="assets/images/jessica4.jpg">
				</div>
			</div>
			<div class="griglia-colonna griglia-colonna7 about-me__name">
				<h2>Hi, I'm <span>Jessica Apolinar!</span></h2>
				<h3>Frontend Web Developer</h3>
				<p>Programming | Web Developer</p>
				<p>I am a frontend web developer, I'm fond of web trend technologies development. Fan of the United Kingdom and British music.</p>
			</div>
		</article>
		<article class="griglia-riga">
			<div class="griglia-colonna griglia-colonna4">
				<h2>PROFILE</h2>
				<h4>Full Name</h4>
				<p>Jessica Apolinar Crisóstomo</p>
				<h4>BORN</h4>
				<p>22 June - Mexico City</p>
			</div>
			<div class="griglia-colonna griglia-colonna2"></div>
			<div class="griglia-colonna griglia-colonna6">
				<h2>EDUCATION</h2>
				<h3>IPN - Unidad Profesional Interdisciplinaria de Ingeniería y Ciencias Sociales y Administrativas </h3>
				<P>August 2010 - May 2014</P>
				<!-- <p>Bachelor's Degree: Informatics Engineering</p> -->
				<p>Graduated of the UPIICSA in Informatics Engineering.</p>
			</div>
		</article>
		<article class="">
			<h2>PROFESSIONAL SKILLS</h2>
			<div class="about-me__technologies">
				<div><span>JavaScript</span><span href="#js" class="icon-plus"></span></div>
				<section id="js">
					<div>
						<i class="devicon-javascript-plain colored"></i>
					</div>
					<div>
						<i class="devicon-angularjs-plain colored"></i>
					</div>
					<div>
						<i class="devicon-jquery-plain-wordmark colored"></i>
					</div>
				</section>
			</div>
			<div class="about-me__technologies">
				<div><span>CSS</span><span href="#css" class="icon-plus"></span></div>
				<section id="css">
					<div>
						<i class="devicon-css3-plain-wordmark colored"></i>
					</div>
					<div>
						<i class="devicon-bootstrap-plain-wordmark colored"></i>
					</div>
					<div class="stylus">
						<!-- <img src="assets/images/technologies/stylus-logo.svg"> -->
					</div>
					<div>
						<i class="devicon-sass-original colored"></i>
					</div>
				</section>
			</div>
			<div class="about-me__technologies">
				<div><span>HTML</span><span href="#html" class="icon-plus"></span></div>
				<section id="html">
					<div>
						<i class="devicon-html5-plain colored"></i>
					</div>
				</section>
			</div>
			<div class="about-me__technologies">
				<div ><span>Tools</span><span href="#tools" class="icon-plus"></span></div>
				<section id="tools">
					<div>
						<i class="devicon-bower-line-wordmark colored"></i>
					</div>
					<div class="npm">
						<!-- <img src="assets/images/technologies/npm-logo.svg"> -->
					</div>
				</section>
			</div>
			<div class="about-me__technologies">
				<div><span>Versioning</span><span href="#version" class="icon-plus"></span></div>
				<section id="version">
					<div>
						<i class="devicon-git-plain colored"></i>
					</div>
					<div>
						<i class="devicon-github-plain colored"></i>
					</div>
				</section>
			</div>

			<div class="about-me__technologies">
				<div><span>Compilation tools</span><span href="#ctools" class="icon-plus"></span></div>
				<section id="ctools">
					<div>
						<i class="devicon-gulp-plain colored"></i>
					</div>
					<div>
						<i class="devicon-grunt-plain-wordmark colored"></i>
					</div>
				</section>
			</div>
			<div class="about-me__technologies">
				<div><span>PHP</span><span href="#php" class="icon-plus"></span></div>
				<section id="php">
					<div class="item-1">
						<i class="devicon-yii-plain-wordmark colored"></i>
					</div>
				</section>
			</div>	
		</article>
		<article>
			<h2>LANGUAGES</h2>
			<div class="griglia-riga">
				<div class="griglia-colonna griglia-colonna2">
					<p>English</p>
					<p>B1</p>
				</div>
				<div class="griglia-colonna griglia-colonna2">
					<p>Spanish</p>
					<p>Native Speaker</p>
				</div>
			</div>
		</article>
		<article>
			<h2>WORK EXPERIENCE</h2>
			<div class="griglia-riga">
				<div class="item-expertise griglia-colonna griglia-colonna6">
					<h3>Frontend Web Developer at <span>Global Human Services</span></h3>
					<p>August 2015 - Currently</p>
				</div>
				<div class="griglia-colonna griglia-colonna6">
					<p>I've got experince in frontend development and UI responsive designe, I've been working all this time with CSS, HTML5, Angular JS technologies.
					In addition I have used automatic web tools such as Grunt, Gulp.</p>
				</div>
			</div>
			<div class="griglia-riga">
				<div class="item-expertise griglia-colonna griglia-colonna6">
					<h3>Trainee Web Developer at <span>Morton casa de Subastas</span></h3>
					<p>November 2014 - August 2015</p>
				</div>
				<div class="griglia-colonna griglia-colonna6">
					<p>I was a trainee developer, in the team we used PHP (Yii framework), CSS, HTML and JavaScript technologies. I built an invoice web application integrating web services (SOAP, RESTful).
					Moreover I administered the web site of the company, switching web content.</p>
				</div>
			</div>
		</article>
		<article>
			<h2>INTERESTS</h2>
		</article>
	</section>
</div>