<div>
	<section>
    	<div ui-view="header" class="layout-header"></div>
  	</section>
  	<section class="section-container">
		<div class="layout-content home-content" ui-view>
			<section class="myImage"></section>
			<section class="main-block">
				<article ui-sref="index.about">
					<img class="img-home" src="assets/images/home/wood.jpg" alt="">
					<figcaption class="layer">
						<h1>About</h1>
						<p>Jessica Apolinar is a frontend developer. She programs ...</p>
					</figcaption>
				</article>
				<article ui-sref="index.contact">
					<img class="img-home" src="assets/images/home/icon-email1ok-01.png" alt="">
					<figcaption class="layer">
						<h1>Contact</h1>
						<p>It is her pleasure if you get in touch with her...</p>
					</figcaption>
				</article>
			</section>
			<section class="main-block">
				<article ui-sref="index.work">
					<img class="img-home" src="assets/images/home/Sin títuloVVHGCHGCGFC-1-01.png" alt="">
					<figcaption class="layer">
						<h1>Work</h1>
						<p>She has been working in ...</p>
					</figcaption>
				</article>
				<article ui-sref="#">
					<img class="img-home" src="assets/images/home/wood.jpg" alt="">
					<figcaption class="layer">
						<h1>Exercises</h1>
						<p>.....</p>
					</figcaption>
				</article>
			</section>
		</div>
	</section>
	<section>
		<!-- <div ui-view="footer" class="layout-footer"></div> -->
	</section>
</div>