<div>
	<section>
    	<div ui-view="header" class="layout-header"></div>
  	</section>
  	<section class="section-container">
		<div class="layout-content" ui-view>
			<section class="myImage"></section>
			<section class="main-block">
				<article ui-sref="index.about">
					<h1>About</h1>
					<div class="layer"></div>
				</article>
				<article ui-sref="index.contact">
					<h1>Contact</h1>
					<div class="layer"></div>
				</article>
			</section>
			<section class="main-block">
				<article ui-sref="index.work">
					<h1>Work</h1>
					<div class="layer"></div>
				</article>
				<article ui-sref="#">
					<h1>Exercices</h1>
					<div class="layer"></div>
				</article>
			</section>  
		</div>
	</section>
  	<section>
		<!-- <div ui-view="footer" class="layout-footer"></div> -->
  	</section>
</div>