<div class="resume">
	<section id="1" data-type="background" data-speed="15">
		<h2>HOLA HOLA HOLA</h2>
	</section>
	<section id="2" data-type="background" data-speed="15">
		<h2>HOLA HOLA HOLA</h2>
	</section>	
	<section id="3" data-type="background" data-speed="15">
		<h2>HOLA HOLA HOLA</h2>
	</section>	
	<section id="4" data-type="background" data-speed="15">
		<h2>HOLA HOLA HOLA</h2>
	</section>	
	<section id="5" data-type="background" data-speed="15">
		<h2>HOLA HOLA HOLA</h2>
	</section>	
	<section id="6" data-type="background" data-speed="15">
		<h2>HOLA HOLA HOLA</h2>
	</section>		
</div>