<div class="work">
	<ul class="work-content">
		<li>
			<h1></h1>
			<div>
				<a href="http://www.mortonsubastas.com/" target="_blank"><img src="assets/images/companies/morton-logo.svg"></a>
				<!--<div> <a href="http://www.mortonsubastas.com/" target="_blank">Go to site </a></div>-->
			</div>
			<!--<div>Technology based on </div>-->
		</li>
		<li>
			<h1></h1>
			<div>
				<a href=""><img src="assets/images/companies/global.svg"></a>
				<!--<div><a href="#">Go to site </a></div>-->
			</div>
			<!--<div>Technology based on</div>-->
		</li>
		<li>
			<h1></h1>
			<div>
				<a href="http://www.beta.claromusica.com" target="_blank"><img src="assets/images/companies/logo-claromusica.svg"></a>
				<!--<div> <a href="http://www.beta.claromusica.com" target="_blank">Go to site </a></div>-->
			</div>
			<!--<div>Technology based on </div>-->
		</li>
	</ul>
</div>