.about-me
	padding: 1% 0%
	.about-me__character
		width: 100%
		height: 100vh
		margin: auto
		margin: 60px auto
		border-radius: 15px
		position: relative
		overflow: hidden
		@media screen and (max-width: 768px) and (min-width: 300px)
			margin: 0% auto
			width: 90%
		@media screen and (max-width: 554px)
			overflow-y: auto
		article
			height: 100%
			width:100%
			position: absolute
			top: 0
			left: 100%
			z-index: 3
			background-size: cover
			background-position: 50% 50%
			padding: 8em 1em 0
			opacity: 0
			transition: left 0s .75s, opacity .5s
			margin: 2% auto
			border-radius: 5px
			min-width: 300px
			@media screen and (max-width: 768px) and (min-width: 300px)
				margin: 46% auto
				padding: 0em 1em 0
				margin-bottom: 0%
		.experince
			overflow-y: scroll
			height: 50%
			@media screen and (max-width: 974px) and (max-height: 680px)
				height: 55%
			@media screen and (max-width: 768px) and (min-width: 300px)
				height: 100%
				overflow: scroll
			.scroll-down
				width: 35px
				height: 35px
				border: 2px solid #FFF
				position: absolute
				border-radius: 50%
				left: calc(50% - 6px)
				cursor: pointer
				&:before
					content: ""
					position: absolute
					width: 10px
					height: 10px
					border-right: 2px solid #FFF
					border-bottom: 2px solid #FFF
					transform: rotate(45deg)
					display: block
					top: calc(50% - 7px)
					left: 11px;
					
		.slide-selector
			width: 100%
			height: 20%
			position: absolute
			z-index: 5
			bottom: 0
			left: 0
			label
				cursor: pointer
				display: inline-block
				line-height: 1em
				&:hover
					background: #2e35
		input:nth-of-type(1)
			margin-left: 45%
			cursor: pointer
			@media only screen and (min-width: 300px) and (max-height: 640px)
				margin-top: 23%
				margin-left: 30%
		input[id^="slide"]:checked + .slide
			left: 0
			//z-index: 4
			opacity: 1
			transform: translateY(0)
			transition: left .65s ease-out, opacity 5s, transform .5s
			//transition: left .65s ease-out
		.about-me__myself
			border-radius: 0
			h2
				margin-top: 40px
				color: blanco
			.about-me__name
				span
					color: palette-rosa3
					font-size: 35px
				h2
					margin: 10px auto
					width: 51%
					border-bottom: 3px solid palette-rosa3
					line-height: 50px
					
				h3
					margin: 10px 0
				h2,h3
					color: #FFF
					text-align: center
				p
					color: #FFF
					text-align: justify
					padding: 0% 5%
					&:nth-of-type(1)
						text-align: center
					@media screen and (max-width: 550px)
						font-size: 14px
						width: 90%
						margin: 0 auto
						display: block
						text-align: center
						padding: 0px
						&:first-child
							text-align: center
				@media screen and (max-width: 550px)
					margin-top: 200px	
			.photograph
				position: absolute
				width: 200px
				height: 200px
				z-index: 1
				opacity: 1
				margin: 0px auto
				left: 0px
				right: 0px
				top: 0px
				border-radius: 25px
				@media screen and (max-width: 768px) and (min-width: 300px)
					top: 0px
				@media screen and (width: 768px) and (height: 1024px)
					top: 0px
				@media screen and (max-width: 767px)
					top: 0px
				&:after
					content: ""
					position: absolute
					width: 200px
					height: 200px
					left: 0
					transform: rotate(45deg)
					opacity: 1
					border-radius: 25px
				img
					display: block
					height: 200px
					width: 200px
					position: absolute
					z-index: 1
					top: 10px
					right: 0
					left: 0
					border-radius: 50%
					margin: 0 auto
					border: 6px solid #FFF
		article
			h2
				font-size: 30px
				color: palette-rosa3
				margin: 30px 0
				@media screen and (max-width: 768px) and (min-width: 300px)
					text-align: center
				&:nth-of-type(1)
					font-family:'Poiret One', cursive;
					font-weight: 100
			h3
				color: #FFF
		
			.about-me__technologies
				width: 100%
				min-height: 50px
				margin: 0 auto
				#js, #php, #tools, #ctools, #css, #html, #version
					display: none
				.npm, .stylus
					img
						width: 70%
				section
					width: 100%
					div
						width: calc(100% / 4)
						margin: 0px 
						min-width: 30px
						padding: 3px 5px
				div
					height: 50px
					padding: 10px
					width: calc(100%/4 - 35px)
					display: inline-block
					border-radius: 5px
					margin: 10px 5px
					vertical-align: middle
					min-width: 87px
					
					.icon-rotate
						transform: rotate(45deg)
						transition: .8s 
						line-height: 7px
					.icon-rotate-reset
						transform: rotate(0deg)
						transition: 1.2s 	
					span
						color: #FFF
						&:nth-of-type(1)
							font-size: 14px
							width: 75%
							line-height: 16px
							margin: 0px
							display: inline-block
							float: left
						&:nth-of-type(2)
							width: 10px
							display: inline-block
							float: left
							cursor: pointer
					.icon-plus
						&:before
							color: palette-azul
						&:hover
							color: palette-rosa1
					@media screen and (max-width: 550px)
						width: 40%
					&:hover
						span
							color: palette-rosa1
							font-weight: bold
							font-size: 16px
							transition: color .3s
							
					i
						font-size: 35px
						text-align: center
						display:block
						margin: 0 auto
						&:before
							width: auto
					span
						text-align: center
						display: block
						margin: 0 auto
						float: right
						
			.about-me__languages
				width: 80%
				margin: 10px auto
				div
					display: inline-block
					vertical-align: middle
					margin: 5px 10px
					width: 100px
					height: 100px
					@media screen and (max-width: 500px)
						width: 90px
					p
						text-align: center
			&:nth-of-type(1)
				//min-height: 230px	
			&:nth-of-type(3)
				h2
					margin: 30px 88px
					@media screen and (max-width: 550px)
						margin: 30px 0px
			&:nth-of-type(4)
				p
					text-align: center
					padding: 0 80px
					@media screen and (max-width: 550px)
						padding: 0px
				h2
					margin: 30px 88px
					@media screen and (max-width: 550px)
						margin: 30px 0px
				.griglia-colonna:first-child
					margin-left: 10px
					@media screen and (max-width: 550px)
						margin-left: 0px
			&:nth-of-type(5)
				.griglia-riga:nth-of-type(1)
					margin-bottom: 35px
					@media screen and (max-width: 550px)
						margin-bottom: 25px
				.circle
					float: none
					margin: auto
					width: 180px
					height: 180px
					border-radius: 50%
					background: turquoise none repeat scroll 0% 0%
					position: relative
					h3
						position: absolute
						top: 40px
					p 
						position: absolute
						top: 90px
						left: 6px
				p:first-child
					text-align: justify
					padding: 0 15px
					margin: 0px 10px
				h2
					margin: 30px 88px
					@media screen and (max-width: 550px)
						margin: 30px 0px
			&:nth-of-type(6)
				min-height: 100px
				.item-expertise
					margin: 20px 0
				h3, p
					@media screen and (max-width: 500px)
						font-size: 13px
				h2
					margin: 30px 88px
					@media screen and (max-width: 550px)
						margin: 30px 0px
				ul
					li
						text-align: left
						padding: 0 10%
						color: blanco
						
			&:nth-of-type(7)
				height: auto
				min-height: initial
				div
					margin: 20px 0
				h3
					margin: 10px 0
					@media screen and (max-width: 500px)
						font-size: 13px
				span
					margin-bottom: 10px
					@media screen and (max-width: 500px)
						text-align: center
						font-size: 13px	
				p
					margin-top: 10px
					@media screen and (max-width: 500px)
						font-size: 13px	
		.abilities
			display: none		 
		.description
			width: 100%
			display: block
			@media screen and (max-width: 768px) and (min-width: 300px)
				width: 100%
				display: block
				ul
					display: block
			.icon-arrow-right
				&:before
					color: palette-verde
					margin-right: 5px 
		&:nth-of-type(1)
			p
				margin: 10px 0
				color: #FFF
				font-family: 'Work Sans', sans-serif
				font-weight: 400
			li
				margin: 20px 0 10px 0
				&:last-of-type
					margin-bottom: 20px
				
				a
					text-decoration: none
					color: #664C4B
			.icon-plus
				margin: 0px
				&:before
					color: rgb(213,83,145)
			.icon-minus
				margin: 0 5px 0
				&:before
					color: #3DBBED
.heart
	display: block
	position: relative
	&__message
		position: absolute
		top: 10px
		left: 46px
		z-index: 1
		color: #FFF
		font-size: 18px;
		h2
			font-family: 'Indie Flower', cursive
	&:after,
	&:before
		position: absolute
		content: ""
		height: 139px
		width: 82px
		background: #F32458
		margin: 2px 10px
		transform: rotate(45deg)
		left: 91px
		border-radius: 0 10px
		border-radius: 38px 40px 0 0
	&:after
		left: 50px
		transform: rotate(-45deg)
		border-radius: 38px 40px 0 0
.octocat
	position: relative
	width: 120px
	height: 90px
	background: #000
	top: 4px
	left: 0
	border-radius: 100% 100% 50% 50% /90px
	margin: 0 auto
	display: block
	animation: gato 5s
	@media screen and (max-width: 1125px) and (min-width: 554px)
		left: 50px		
	&:before,
	&:after
		width: 43px
		height: 39px
		position: absolute
		top: -6px
		background: #000
		content: " "
		left: 2px
		border-radius: 73px 5px
		transform: rotate(-83deg)
		animation: oreja-gato1 0.5s 35
	&:after
		transform: rotate(83deg)
		left: 75px
		border-radius: 5px 73px
		animation: oreja-gato2 0.5s 35 
		
	&__face
		position: absolute
		width: 100px
		height: 50px
		background: #F4CAB1
		bottom: 5px
		border-radius: 50px
		z-index: 2
		left: 10px
		box-shadow: inset 0px 2px 1px rgba(0,0,0,0.2)
	&__eye
		width: 18px
		height: 29px
		background: #FFF
		position: absolute
		top: 42px
		left: 26px
		z-index: 3
		border-radius: 50% 50% / 13px
		&-right
			left: 77px
	&__iris
		width: 14px
		height: 20px
		position: absolute
		border-radius: 50% 50%
		background: #AC5C51
		top: 4px
		left: 2px
		&:after
			content: ""
			width: 5px
			height:5px
			background: #FFF
			border-radius: 50% 50%
			position: absolute
			top: 2px
			left: 1px
	&__mouth
		width: 15px
		height: 15px
		position: absolute
		background: transparent
		border-radius: 50%
		//box-shadow: 20px 15px 0 0 #AC5C51
		border-bottom: 2px solid #ac5c51
		bottom: 8px
		left: 54px
		z-index: 2
	.sad
		border-top: 2px solid #ac5c51
		border-radius: 0px
		transform: rotate(150deg)
		border-bottom: 0px
	&__nose
		width: 6px
		height: 6px
		border-radius: 50% 50%
		background: #AC5C51
		position: absolute
		bottom: 16px
		left: 58px
		z-index: 2
	&__mustash
		width: 64px
		height: 24px
		position: absolute
		top: 64px
		z-index: 2
		left: -53px
		border-radius: 31%
		border-top: 1px solid #000
		transform: rotate(-2deg)
		&:nth-of-type(3)
			transform: rotate(-20deg)
			top: 65px
		&:nth-of-type(4)
			// transform: rotate(-20deg)
			top: 57px
		&:nth-of-type(5)
			transform: rotate(14deg)
			top: 65px
			left: 109px
		&:nth-of-type(6)
			transform: rotate(-2deg)
			top: 57px
			left: 109px
	@media screen and (max-width: 553px) and (min-width: 300px)
		width: 100px
		height: 60px
		left: 54px
		border-radius: 100% 100% 70% 70%/90px
		&:after
			left: 56px
		&__face
			width: 80px
			height: 40px
		&__eye
			width: 14px
			height: 20px
			top: 23px
			left: 23px
			&-right
				left: 65px
				
		&__iris
			width: 11px
			height: 16px
			top: 2px
			left: 1px
		&:nth-of-type(2)
			left: 63px
		&__mouth
			left: 44px
		&__nose
			left: 49px
		&__mustash
			width: 40px
			&:nth-of-type(5)
				top: 43px
				left: 90px
			&:nth-of-type(6)
				top: 36px
				left: 90px
			&:nth-of-type(3)
				top: 43px
				left: -30px
			&:nth-of-type(4)
				top: 36px
				left: -30px
	&:hover:after
		transform-origin: 50% 65%
	&:hover:before
		transform-origin: 50% 65%
@keyframes gato
	from
		opacity: 0
	to
		opacity: 1
@keyframes oreja-gato2
	from
		transform: rotate(83deg)
	to
		transform-origin: 50% 65%
@keyframes oreja-gato1
	from
		transform: rotate(-83deg)
	to
		transform-origin: 50% 65%


		
						
			 
					
			