.contact
	padding: 5%
	h2
		font-size: 30px
		color: palette-rosa3		
		font-family:'Poiret One', cursive;
		font-weight: 100
	ul
		display: block
		width: 60%
		margin: 7% auto
		@media screen and (max-width: 500px) and (min-width: 300px)
			display: block
		li
			height: 60px
			margin: 10px
			&:nth-of-type(1)
				span
					&:hover
						color: #00849B
						transition: color 0.2s ease-in
			&:nth-of-type(2)
				a
					height: auto
					display: block
				.name-email
					line-height: 60px
					font-size: 20px
					vertical-align: top
					@media screen and (max-width: 500px) and (min-width: 300px)
						font-size: 16px
						display: block
						position: absolute
						left: 85px
				span
					&:hover
						color: #D44937
						transition: color 0.2s ease-in
						cursor: pointer		
			&:nth-of-type(3)
				a
					@media screen and (max-width: 500px) and (min-width: 300px)
						margin-top: 43px
				span
					&:hover
						color: #323131
						transition: color 0.2s ease-in
			&:nth-of-type(4)
				span
					&:hover
						color: #3B579D
						transition: color 0.2s ease-in
			
			a
				text-decoration: none
				@media screen and (max-width: 500px) and (min-width: 300px)
					width: 50%
					display: block
					margin: 0 auto
					span
						display: block
						margin: 0 auto
				span
					color: palette-rosa3
					font-size: 60px
					margin-right: 10px
.contact-content
	padding: 0% 5%
	border: 3px solid palette-rosa3
	width: 80%
	margin: 7% auto
	border-radius: 25px
	box-shadow: 0px 0px 23px #7b7070					
					
	
				