@import 'layout.styl';
@import 'contact.styl';
@import 'about.styl';
@import 'colors.styl';
@import 'work.styl';
@import 'grid.styl';
@import 'resume.styl';
@import 'work-content.styl';
@import 'custom-scroll-style.styl';
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Work+Sans);