
amarillo-1 = rgb(249, 237, 145)
azul-1 = rgba(57,140,255,0.95)
azul-2 = rgba(57,195,255,0.95)
azul-3 = rgba(105,210,255,0.95)
azul-4 = rgba(0,177,254,0.95)
negro-1 = rgba(30, 29, 29, 0.95)
negro-2 = rgb(35, 33, 33)
purpura-1 = rgba(172,125,255,1)
purpura-2 = rgba(202,176,248,1)
purpura-3 = rgb(200, 183, 234)
rosa-2 = rgba(255, 160,236,1)
rosa-3 = #F55
rosa-4 = rgb(233, 96, 96)
verde-1 = rgb(156, 245, 223)

/*
* Mi palette color
*/

blanco = #FFF
gris-body = #f5f7fb
rosa-menu = rgba(254, 127,122,0.95)
palette-azul= rgba(57, 195, 255, 0.75)
palette-rosa1 = rgb(233, 96, 96)
palette-azul2 = rgba(37, 151, 248, 0.85)
palette-rosa3 = #f55
//palette-rosa4 = #FF5555
palette-gris =  rgba(66, 61, 66, 0.6)
palette-gris2 =  #8A8A8A
palette-rosa2 = rgba(255, 0, 45, 0.69)
palette-negro = rgb(39, 39, 39)
palette-negro2 = rgb(35, 33, 33)
palette-verde = #2ee0ae


html
	body
		//background: rgba(228, 213, 227, 0.52)
		background: #484b54
		font-family:'Roboto',sans-serif
		font-weight: 100
		width: 100%
		height:100%
		.section-header
			margin: -25px
		.section-container
			margin: 0px
			border-box: box-sizing
			min-width: 100%
			min-width: 300px
			// @media screen and (max-width: 525px)
			// 	margin-top: 40px
		.layout-header
			// background: rgba(47, 47, 44, 0.95)
			//background: rgba(39, 39, 39, 0.62)
			position: fixed
			top: 0
			right: 0
			left: 0
			z-index: 4
			min-height: 40px
			width: 40px
			@media screen and (max-width: 768px)
				width: 100%
			.hide 
				display: none
			.show 
				display: block
				transition: all 0.1s ease-out
			.menu-responsive
				display: block
				width: 50px
				height: 50px
				margin-right: 10px
				cursor: pointer
				// display: block
				background: rgba(39, 39, 39, 0.62)
				float: left
				border-radius: 50%
				margin: 5px
				position: relative
				z-index: 1
				padding: 9px 5px
				box-sizing: border-box
				&:hover 
					background: #000
					transition: box-shadow, background 0.2s ease-out
					box-shadow: 0 0 40px #292828
					
				span
					background: blanco
					height: 3px
					width: 30px
					display: block	
					margin: 5px auto
					transition: all 0.2s ease-out
				//@media screen and (min-width: 200px)
			.menu-transform
				height: 50px
				span
					&:nth-of-type(1)
						transform: rotate(45deg)
						margin: 15px 74px 0px 5px
						transition: all 0.2s ease-in
					&:nth-of-type(2)
						transform: rotate(-45deg)
						margin: -3px 12px 0 5px
						transition: all 0.2s ease-in
					&:nth-of-type(3)
						display: none
				
			.text-menu
				position: absolute
				right: -56px
				top: 13px
				width: 52px 
				h4
					text-align: center		
			&-menu
				@media screen and (max-width: 1015px) and (min-width: 525px)
					width: 100%
				@media screen and (max-width: 524px) and (min-width: 300px)
					width: 100%
					ul
						display: none
						width: 100%
						margin: 0
						li
							width: 100% !important
				width: 280px
				margin: 0
				ul
					//background: rgba(39, 39, 39, 0.62)
					display: none
					position: absolute
					left: 0
					// top: 34px
					width: 202px
					//min-height: 50vh
					@media screen and (max-width: 768px)
						margin-top: 0
						width: 100%
						//background: #ff7fb6
						background: palette-rosa3
					li
						display: block
						width: 100%
						&:first-child
							margin-top: 20px 
						&:last-child
							margin-bottom: 20px
						a
							color: blanco
							text-decoration: none
							text-align: center
							line-height: 40px
							margin: 0 auto
							width: 40%
							display: block
							font-weight: 600
							position: relative
							transform: translateZ(0)
							box-shadow: 0 0 1px rgba(0, 0, 0, 0)
							backface-visibility: hidden
							cursor: pointer
							font-size: 17px
							@media screen and (max-width: 500px) and (min-width: 300px)
								&:after
									display: none
								&:hover
									background: palette-rosa3
									transition: all 0.2s ease-out
									color: blanco 
						//&:not(:first-child)
						&:nth-of-type(1)
						&:nth-of-type(2)
						&:nth-of-type(3)
							a
								&:after
									content: ""
									position: absolute
									z-index: -1
									right: 100%
									left: 0
									bottom: 0
									height: 4px
									//background: palette-rosa3
									transition: right 0.3s ease-out
								&:hover:after					
									right: 0
		.home-content
			//padding-bottom: 50px											
		.layout-content
			display: block
			min-height: 100vh
			min-width: 100%
			background: #484B54 
			.myImage
				background : url('../images/home/desktop-finish-03-01-OK-01.png') left top no-repeat fixed
				//background-color: #DDD
				height: 100vh
				background-size: 100%
				//background-position-y: -310px
				position: relative
				&:before
					position: absolute
					//background-color: black
					z-index: 1
					content: ""
					opacity: 0.6
					top: 0
					left: 0
					right: 0
					bottom: 0
					background : url('../images/home/overlay.png')
				h1
					opacity 1
					color: #FFF
					font-size: 60px
					position: absolute
					top: 30%
					left: 30%
					z-index: 2
					@media screen and (max-width: 1000px) and (min-width: 845px)
						font-size: 45px
						left: 17%
						
					@media screen and (max-width:560px) and (min-width: 400)
						font-size: 24px
						left: 24%
					@media screen and (max-width:400px)
						font-size: 17px
						left: 24%
					@media screen and (max-width: 844px) and (min-width: 685px)
						font-size:52px
						top: 30%
						left: 20%
					
				h3
					color: #FFF
					font-size: 30px
					position: absolute
					top: 40%
					left: 40%
					z-index: 2
					@media screen and (max-width: 1000px) and (min-width: 850px)
						top: 45%
					@media screen and (max-width:560px) and (min-width: 400)
						font-size: 22px
						left: 29%
					@media screen and (max-width:400px)
						font-size: 13px
						left: 30%
						top: 50%
					@media screen and (max-width: 849px) and (min-width: 685px)
						font-size: 32px
						top: 60%
						left: 33%
				@media screen and (max-width: 1000px) and (min-width: 801px)
					height: 72vh
				@media screen and (max-width: 800px)
					background-size: 100%
					height: 40vh;
				@media screen and (max-width: 400px)
					height: 25vh
					
			.main-block
				width: 50%
				margin: 0 auto
				//padding-top: 120px
				margin-top: 50px
				@media screen and (max-width: 1530px) and (min-width: 1422px)
					width: 50%
					padding-top: 0px
				@media screen and (max-width: 1421px) and (min-width: 1188px)
					width: 60%
					padding-top: 0px
				@media screen and (max-width: 1187px) and (min-width: 900px)
					width: 80%
					padding-top: 0px
				@media screen and (max-width: 400px)
					width: 60%
					padding-top: 0px
					
				article
					width: calc(100%/2 - 57px)
					height: 350px
					margin: 30px 20px
					border: 2px solid #FFF
					display: inline-block
					cursor: pointer
					position: relative
					opacity: 1
					min-width: 209px
					min-height: 150px
					@media screen and (max-width: 1530px) and (min-width: 900px)
						height: 60%
						margin: 3em 2em auto
						width: 40%
					@media screen and (max-width: 899px) and (min-width: 601px)
						height: 300px
						margin: 3em 0
						width: 100%
					@media screen and (max-width: 600px)
						width: 100%
						display: block
						height: 100%
						margin: 3em 0
					@media screen and (max-width: 400px)
						min-width: 100%
						
						
					&:hover
						.img-home
							//transform: scale(1)
							display: block
								
						.layer
							display: block
							h1
								display: block
								margin: 3px auto
								font-size: 30px
							p
								transform: scale(1)
							&:before
								//-webkit-transform: scale(1)
								visibility: visible
								opacity: 1
								transition: opacity 0.35s //, transform 0.35s
								
					&:first-child
						background-color: rosa-menu
					&:nth-of-type(2)
						background-color: rgb(195,168,195)
					h1
						color: blanco
						text-align: center
						margin: 75px auto
						font-size: 25px
						display: none
						@media screen and (max-width: 800px)
							margin-top: 70px
					.img-home 
						display: block
						position: relative
						min-height: 100%
						max-width: 100%
						height: 100%
						width: 100%
						transform: scale(1)
						//-webkit-transition: transform 0.9s ease-in-out
						// opacity: 0.5
					.layer 
						position: absolute
						top: 0
						left: 0
						right: 0
						bottom: 0
						width: 100%
						height: 100%
						background: rgba(245, 241, 241, 0.16)
						box-sizing: border-box
						transition: background .3s
						padding: 30px
						&:before
							position: absolute
							top: 30px
							bottom: 30px
							left: 30px
							right: 30px
							padding: 30px
							border: 1px solid blanco
							content: ""
							visibility: hidden
							opacity: 0
							-webkit-transform: scale(0)
							transition: opacity 0.35s, transform 0.35s
							box-sizing: border-box
  							
						@media screen and (max-width: 1290px) and (min-width: 1000px)
							padding: 30px
						@media screen and (max-width: 1000px)
							padding: 0px
						p, h1
							color: blanco
							text-align: center
						p
							transform: scale(0)
							@media screen and (max-width: 800px)
								display: none
						
							
				&:first-child
					padding-top: 100px
				&:last-child
					padding-bottom: 30px
					padding-top: 0px
					article
						&:first-child
							background-color: palette-verde
						&:last-child
							background-color: palette-azul		
.animate1
	transition: 3s ease-out-in
	-webkit-transition: 3s ease-out-in
	-moz-transition: 3s ease-out-in
	animation: blockTopAnim 2s
.animate2
	transition: 3s ease-out-in
	-webkit-transition: 3s ease-out-in
	-moz-transition: 3s ease-out-in
	animation: blockBottomAnim 2.5s
	
@keyframes blockTopAnim
	0%
		transform: translate(-50px, -50px);
		opacity: 0
		animation-timing-function:ease-in-out
	
	50%
		transform: translate(-15px, -15px);
		animation-timing-function:ease-in-out
		opacity: 0.5
	
	100%
		transform: translate(0px, 0px);
		SSanimation-timing-function:ease-in-out
		opacity: 1
@keyframes blockBottomAnim
	0%
		transform: translate(50px, 50px);
		opacity: 0
		animation-timing-function:ease-in-out
	
	50%
		transform: translate(15px, 15px);
		animation-timing-function:ease-in-out
		opacity: 0.5
	
	100%
		transform: translate(0px, 0px);
		SSanimation-timing-function:ease-in-out
		opacity: 1
		

	
