
amarillo-1 = rgb(249, 237, 145)
azul-1 = rgba(57,140,255,0.95)
azul-2 = rgba(57,195,255,0.95)
azul-3 = rgba(105,210,255,0.95)
azul-4 = rgba(0,177,254,0.95)
negro-1 = rgba(30, 29, 29, 0.95)
negro-2 = rgb(35, 33, 33)
purpura-1 = rgba(172,125,255,1)
purpura-2 = rgba(202,176,248,1)
purpura-3 = rgb(200, 183, 234)
rosa-2 = rgba(255, 160,236,1)
rosa-3 = #F55
rosa-4 = rgb(233, 96, 96)
verde-1 = rgb(156, 245, 223)

/*
* Mi palette color
*/

blanco = #FFF
gris-body = #f5f7fb
rosa-menu = rgba(254, 127,122,0.95)
palette-azul= rgba(57, 195, 255, 0.75)
palette-rosa1 = rgb(233, 96, 96)
palette-azul2 = rgba(37, 151, 248, 0.85)
palette-rosa3 = #f55
//palette-rosa4 = #FF5555
palette-gris =  rgba(66, 61, 66, 0.6)
palette-rosa2 = rgba(255, 0, 45, 0.69)
palette-negro = rgb(39, 39, 39)
palette-negro2 = rgb(35, 33, 33)
palette-verde = #2ee0ae


html
	body
		background: rgba(228, 213, 227, 0.52)
		background: gris-body
		font-family:'Roboto',sans-serif
		font-weight: 100
		.layout-header
			// background: rgba(47, 47, 44, 0.95)
			background: palette-negro
			position: fixed
			top: 0
			right: 0
			left: 0
			z-index: 4
			min-height: 40px
			.menu-responsive
				display: none
				width: 40px
				height: 100%
				margin-right: 10px
				cursor: pointer
				&:hover 
					background: #000
					transition: background 0.2s ease-out
				@media screen and (max-width: 525px) and (min-width: 300px)
					display: block
					float: left
					border-radius: 5px
					margin: 5px
					span
						background: blanco
						height: 3px
						width: 30px
						display: block	
						margin: 5px auto
			&-menu
				@media screen and (max-width: 1015px) and (min-width: 525px)
					width: 100%
				@media screen and (max-width: 524px) and (min-width: 300px)
					width: 100%
					ul
						display: none
						width: 100%
						margin: 0
						li
							width: 100% !important
				width: 50%
				margin: 0 auto
				ul
					margin: 10px 0
					@media screen and (max-width: 500px) and (min-width: 300px)
						margin-top: 0
					li
						display: inline-block
						width: calc(100%/2 - 4px)
						a
							color: rosa-3
							text-decoration: none
							text-align: center
							line-height: 40px
							margin: 0 auto
							width: 60%
							display: block
							font-weight: 600
							position: relative
							transform: translateZ(0)
							box-shadow: 0 0 1px rgba(0, 0, 0, 0)
							backface-visibility: hidden
							cursor: pointer
							@media screen and (max-width: 500px) and (min-width: 300px)
								&:after
									display: none
								&:hover
									background: palette-rosa3
									transition: all 0.2s ease-out
									color: blanco 
						//&:not(:first-child)
						&:nth-of-type(1)
						&:nth-of-type(2)
						&:nth-of-type(3)
							a
								&:after
									content: ""
									position: absolute
									z-index: -1
									right: 100%
									left: 0
									bottom: 0
									height: 4px
									background: palette-rosa3
									transition: right 0.3s ease-out
								&:hover:after					
									right: 0											
		.layout-content
			display: block
			min-height: 100vh
			margin-top: 40px
			#section1
				// background: url('../images/unionjack.jpg') 50% 0 no-repeat fixed
				background: #FFF
			#section2
				// background: url('../images/violin-vs-cello.jpg') 50% 0 no-repeat fixed
				background: #FFF
				article
					div
						-ms-transform: rotate(45deg)
						-webkit-transform: rotate(45deg)
						-o-transform: rotate(45deg)
						-moz-transform: rotate(45deg)
						transform: rotate(45deg)
			#section3
				// background: url('../images/paisaje.jpg') 50% 0 no-repeat fixed
				background: #FFF
				article
					div
						-ms-transform: rotate(90deg)
						-webkit-transform: rotate(90deg)
						-o-transform: rotate(90deg)
						-moz-transform: rotate(90deg)
						transform: rotate(90deg)
			#section1, #section2, #section3
				min-height: 700px
				max-width: 1920px
				margin: 0px auto
				width: 100%
				position: relative
				-webkit-background-size: cover
				-moz-background-size: cover
				-o-background-size: cover
				background-size: cover
				article
					padding: 100px
					h1
						color: #FFF
						font-weight: bold
						text-align: center		
				.section-image
					background: #FFF
					display: block
					height : 350px
					margin: 0 auto
					width: 350px
					-webkit-background-size: cover
					-moz-background-size: cover
					-o-background-size: cover
					background-size: cover							
			#section1, #section2
				box-shadow: 0 0 75px rgba(255, 197, 3, 0.4)
				-webkit-box-shadow:  0 0 75px rgba(255, 197, 3, 0.4)
				-moz-box-shadow:  0 0 75px rgba(255, 197, 3, 0.4)
				-o-box-shadow: 0 0 75px rgba(255, 197, 3, 0.4)
		.layout-footer
			width: 100%
			min-height: 40px
			// background: rgba(47, 47, 44, 0.95)
			background: palette-negro
			bottom: 0
			left: 0
			right: 0
			margin: 0
 			.text
				color: rosa-3
				margin: 0 auto
				width: 30%
				line-height: 40px
				font-weight: 600
				p
					text-align: center

				@media screen and (max-width: 988px) and (min-width: 300px)
					width: 100%

	
	
