html
	body
		background: rgba(228, 213, 227, 0.52)
		.layout-header
			background: rgba(222, 249, 113, 0.95)
			position: fixed
			top: 0
			right: 0
			left: 0
			z-index: 1
			
			&-menu
				width: 50%
				margin: 0 auto
				ul
					li
						display: inline-block
						width: calc(100%/3 - 3px)
						a
							color: #FFF
							text-decoration: none
							text-align: center
							line-height: 40px
							width: 100%
							display: block
		.layout-content
			display: block
			min-height: 400px
			margin-top: 60px
		.layout-footer
			width: 100%
			min-height: 40px
			background: rgba(222, 249, 113, 0.95)
			bottom: 0
			left: 0
			right: 0
			z-index: 1
			position: fixed
			.text
				color: #FFF
				margin: 2% auto
				width: 30%
				p
					text-align: center


	
	
