.resume
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: #d29c9c
	section
		height: 400px
		width: 100%
		min-width: 100%
		position: relative
		background: url('../images/home/circles.jpg') 100% 0 no-repeat fixed
		min-height: 1000px
		height: 1000px

		h2
			position: absolute
			top: 0
			left: 70px
			right: 0
			bottom: 0
			font-size: 20px
			color: blanco
			font-weight: bold
			