.work
	&-content
		padding: 0% 5%
		// border: 3px solid #f55
		width: 80%
		margin: 7% auto
		// border-radius: 25px
		// box-shadow: 0 0 23px #7b7070
		min-height: 70vh
		
		.block-item
			min-height: 50px
			width: 100%
			margin: 10px auto
			background: rgba(158, 216, 241, 0.75)
			&:hover
				background: palette-azul
				transition: .5s
			h1
				color: blanco
				text-align:center
				margin: 10px 0px
			a
				text-decoration: none
				text-align:center
				display: block
				&:hover
					color: palette-gris
					transition: .3s
			.icon-music
				margin: 10px 5px 0px 0px
		button
			background: palette-azul2
			color: blanco 
					
	